
html {
	overflow-y: scroll;
	height: 100%;
	background: #f2f2f2;
}

body {
	font: 0.75em/150% 'Lucide Grande',Verdana,Arial,sans-serif;
	text-align: left;
	margin: 0px;
	padding: 0px;
	background: #f2f2f2;
}

table tbody {
	vertical-align: top
}

.wholePage {
	padding: 0px; /* > 0 = Set off application from border */
	margin: 0px; 
	width: auto; 
	color: #000000; 
}

.grid a:hover {
	BACKGROUND: #b8dcff
}

.wizard a:hover {
	BACKGROUND: #b8dcff
}

.summary a:hover {
	BACKGROUND: #b8dcff
}

.footer a:hover {
	BACKGROUND: #b8dcff
}

.paneBody a:hover {
	BACKGROUND: #b8dcff
}

.tabArea {
	WIDTH: auto;
	overflow:hidden;
}

.pane {
	clear:both;
	MARGIN: 0px;
	WIDTH: auto;
	padding: 0px;
}

.tabs {
	font-size: 120%;
	padding-left: 1px;
	margin: 0px;
	color: #ffffff;
}
.tabs ul {
	float: left; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; MARGIN: 0px; 
	PADDING-TOP: 0px
}
.tabs li {
	float: left; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: url(none); PADDING-BOTTOM: 0px; MARGIN: 0px 4px 0px 0px; PADDING-TOP: 0px; 
	LIST-STYLE-TYPE: none; white-space:nowrap;
}
.tabs li a {
	padding: 0.4em;
	margin: 0px;
	display: block; 
	text-decoration: none;
}

.tabs li a:hover {
	padding: 0.4em;
	margin: 0px;
	display: block; 
	text-decoration: none;
}

.tabs li.active a {
	TEXT-DECORATION: none
}
.tabs li.active a img{
	display: inline;
}
.tabs img {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; display:none;
}
.tabs div a img {
	display:inline;
}

.tabs .closetab {
	width:1em; height:1em; 
	padding: 0px;
	BORDER-STYLE: none; 
}

.bar1 img {
	border: 0;
}

.bar1 {
	padding: 0px;
	DISPLAY: block;
	margin: 0px;
	WIDTH: auto;
	height: 2.7em;
}

.bar1 ul {
	MARGIN: 0px;
	PADDING: 0px;
}

.bar1 li {
	DISPLAY: block;
	FLOAT: left;
	padding: 0px;
    white-space:nowrap;
}

.bar1 li a {
	PADDING: 0.55em 0.75em 0.7em; DISPLAY: block; MARGIN: 0px; 
	TEXT-DECORATION: none
}

.bar1 li a:hover {
	PADDING: 0.55em 0.75em 0.7em; DISPLAY: block; 
	MARGIN: 0px; 
	TEXT-DECORATION: none
}
.bar1 li.active a:hover {
	 BACKGROUND: url(../images/active.png) no-repeat center bottom; COLOR: #ffffff
}
.bar1 li.active a {
	 BACKGROUND: url(../images/active.png) no-repeat center bottom; COLOR: #ffffff
}
.bar2:before {
    content: "."; 
	display:block;
	clear:both;
	height: 0px;
	visibility:hidden
}

.bar2 {
	DISPLAY: block;
	MARGIN: 0px 0px 0px 5px;
	WIDTH: auto;
	padding: 0px;
	height: 2.7em;
}
.bar2 ul {
	MARGIN: 0px;
	PADDING: 0px;
}

.bar2 li {
	DISPLAY: block;
	FLOAT: left;
	padding: 0px;
    white-space:nowrap;
}
.bar2 li a {
	DISPLAY: block;
	PADDING: 0.6em 0.75em 0.7em;
	MARGIN: 0px;
	TEXT-DECORATION: none;
}

.bar2 li a img {
	border: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	width: 12px;
	height: 12px;
}

.bar2 li.active a:hover {
	BACKGROUND: url(../images/active2.png) no-repeat center bottom; COLOR: #191919
}

.bar2 li.active a {
	BACKGROUND: url(../images/active2.png) no-repeat center bottom; 
}

.bar2 img {
	border: 0;
}

.bar3:before {
    content: "."; 
	display:block;
	clear:both;
	height: 0px;
	visibility:hidden
}

.bar3 {
	DISPLAY: block;
	MARGIN: 0px 0px 0px 5px;
	WIDTH: auto;
	padding: 0px;
	height: 2.7em;
}
.bar3 ul {
	MARGIN: 0px;
	PADDING: 0px;
}

.bar3 li {
	DISPLAY: block;
	FLOAT: left;
	padding: 0px;
    white-space:nowrap;
}

.bar3 li a {
	PADDING: 0.55em 0.75em 0.7em; 
	DISPLAY: block;
	MARGIN: 0px;
	TEXT-DECORATION: none;
}

.bar3 li a img {
	border: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	width: 12px;
	height: 12px;
}

.bar3 li.active a:hover {
	BACKGROUND: url(../active2.png) no-repeat center bottom; 
}
.bar3 li a:hover {
	PADDING: 0.55em 0.75em 0.7em; DISPLAY: block; 
	MARGIN: 0px; TEXT-DECORATION: none
}

.bar3 li.active a {
	BACKGROUND: url(../images/active2.png) no-repeat center bottom; 
}

.bar3 img {
	border: 0;
}

.favorites {
	width:55%;	
	BACKGROUND: #6699cc;
}

.favorites ul {
	BACKGROUND: #6699cc;
	MARGIN: 0px;
	PADDING: 0px;
}

.favoritesTabs li {
	DISPLAY: block;
	FLOAT: left;
	padding-right: 3px;
    white-space:nowrap;
}

.favoritesTabs li a {
	COLOR: #D9ECFF; 
	PADDING: 0.2em 0.75em 0.4em; DISPLAY: block; MARGIN: 0px; 
	TEXT-DECORATION: none
}

.favoritesTabs li a:hover {
	COLOR: #FFFFFF; 
	PADDING: 0.2em 0.75em 0.4em;  DISPLAY: block; 
	MARGIN: 0px; 
	TEXT-DECORATION: none
}
.favoritesTabs li.active a:hover {
	 BACKGROUND: url(../images/active.png) no-repeat center bottom; COLOR: #ffffff
}
.favoritesTabs li.active a {
	 BACKGROUND: url(../images/active.png) no-repeat center bottom; COLOR: #ffffff
}

.allergies {
	height: 2.7em;
	PADDING-RIGHT: 10px;
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 0px;
	PADDING-TOP: 0px;
	margin: 0px;
	WIDTH: auto;
}
.allergies img {
	FLOAT: left
}
.allergies p {
	PADDING-LEFT: 40px; BACKGROUND: url(../images/warning.png) no-repeat left center; PADDING-BOTTOM: 0.5em; MARGIN: 0px; WIDTH: auto; PADDING-TOP: 0.5em
}
.wip {
	padding: 0px;
	margin: 0px;
	DISPLAY: block;
	width: auto;
	height: 2.7em;
	FLOAT: left;
}

.wip ul {
	MARGIN: 0px;
	PADDING: 0px;
}

.wip li {
	DISPLAY: block;
	FLOAT: left;
	padding: 0px;
}

.wip li a {
	PADDING: 0.55em 0.75em 0.5em; DISPLAY: block; MARGIN: 0px; 
	TEXT-DECORATION: none
}
.wip li a:hover {
	PADDING: 0.55em 0.75em 0.5em; DISPLAY: block; 
	MARGIN: 0px; COLOR: #ffffff; TEXT-DECORATION: none
}
.wip li.active a:hover {
	 BACKGROUND: url(../images/active.png) no-repeat center bottom; COLOR: #ffffff
}
.wip li.active a {
	 BACKGROUND: url(../images/active.png) no-repeat center bottom; COLOR: #ffffff
}

.wip li a img {
	border: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	width: 12px;
	height: 12px;
	float:none;
}

.breadcrumbs {
	padding-bottom: 1.2em;
	font-weight: bold;
}

.breadcrumbs a {
	color: #000099;
	text-decoration: none
}

.breadcrumbs a:hover {
	color: #0099FF;
	text-decoration: none
}

.header {
	padding: 1px; 
	MARGIN: 0px; 
	width: auto; 
}

.header a {
	text-decoration: none
}

.header a:hover {
	text-decoration: none
}

#idlePage {
	padding-top: 5.0em;
	text-align:center
}

#serverUnAvailablePage{
	text-align:center;
	top: 50%;
	vertical-align: middle;
	background-color:white;
}

pre {
	font-size: 120%;
	color: #000066;
}

.container {
	overflow:hidden;
}

.errorPane {
	background-color:#FFBBBB;
	padding: 5px;
}

.errorMsg {
	font-weight: bold;
	color: #990033;
}

.infoMsg {
	font-weight: bold;
	color: #990033;
}

.warnMsg {
	font-weight: bold;
	color: #990033;
}

.fatalMsg {
	font-weight: bold;
	color: #990033;
}

.paneBody {
	padding: 0.5em;
	overflow:auto;
}

.notices td.effective {
	width: 150px;
}

.notices td {
	padding: 1.0em;
}

.notices tr {
	vertical-align: top;
}

.general th {
	padding-left: 0.25em;
	padding-right: 0.25em;
	border:1px solid #999999;
}

.general td {
	padding-left: 0.25em;
	padding-right: 0.25em;
	border:1px solid #999999;
	vertical-align: top; 
}

.summary {
	width: auto;
	padding: 0px;
}
.summary .sort_list{
	padding-left: 5px;
	padding-right: 5px;
	margin:0px;	
	float: left;
	width:32%;
}
.summary table {
	width: 100%;
}

.summary table tbody tr td {
	vertical-align: top;
	width: 33%;
}

.summaryItem {
	padding: 0em;
	border:1px solid #C5D7EF;
}

.summaryItem table {
	width: 100%;
	padding: 0.25em;
	border-collapse: collapse;
}

.summaryItem table tbody tr td {
	width: auto;
	padding-left: 0.2em;
	margin: 0px;
}

.info {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; 
	MARGIN: 0px; PADDING-TOP: 0px
}

.info a {
    COLOR: #FF0000;  
    TEXT-DECORATION: none;
}

.info a: hover {
         COLOR :#101010;
}

.select {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.customize {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 8px; MARGIN: 0px; PADDING-TOP: 8px
}

.page {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 10px;
	WIDTH: auto;
	PADDING-TOP: 10px;
}

.user {
	padding-right: 1.0em;
	font-weight: normal;
}
.footer {
	PADDING-RIGHT: 10px; PADDING-LEFT: 20px; FONT-SIZE: 0.95em; PADDING-BOTTOM: 10px; COLOR: #999999; PADDING-TOP: 5px
}
.footer ul {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.footer li {
	PADDING-RIGHT: 20px; FLOAT: left; LIST-STYLE-IMAGE: url(none); LIST-STYLE-TYPE: none
}
.footer:hover {
	COLOR: #666666
}
.footer:hover UL {
	COLOR: #666666
}
.footer:hover LI {
	COLOR: #666666
}
.footer:hover A {
	COLOR: #666666
}
.footer A {
	COLOR: #999999
}

.logo {
}

table {
	BORDER-COLLAPSE: collapse
}

thead th {
	background:  #cccccc; color: #444444; 
}

th.sortup {
	BACKGROUND: url(../images/bkgd_th_active.gif) #99ccff repeat-x left center
}
th.sortup A {
	DISPLAY: block; BACKGROUND: url(../images/img_sortup.gif) no-repeat right center; COLOR: #333333; TEXT-DECORATION: none
}
th.sortdown {
	BACKGROUND: url(../images/bkgd_th_active.gif) #99ccff repeat-x left center
}
th.sortdown A {
	DISPLAY: block; BACKGROUND: url(../images/img_sortdown.gif) no-repeat right center; COLOR: #333333; TEXT-DECORATION: none
}
thead.sort A {
	DISPLAY: block; COLOR: #333333; TEXT-DECORATION: none
}
thead.sort A:hover {
	DISPLAY: block; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #333333; TEXT-DECORATION: none
}
col.columnhead {
	BORDER-RIGHT: #cccccc 1px solid
}

.manage  {
	border-collapse:collapse;
	width: 100%
}
.manage thead th {
	BORDER: #666666 1px solid;
	PADDING: 0.25em;  
}
.manage thead th.caption {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0.25em;
	font-weight: bold;
	MARGIN: 0px 0px 0em;
	COLOR: #333333; PADDING-TOP: 0.5em;
	BORDER-BOTTOM: #999999 2px solid;
	BORDER-RIGHT-STYLE: none; TEXT-ALIGN: left
}
.manage tbody td {
	PADDING-RIGHT: 0.5em;
	PADDING-LEFT: 0.5em;
	PADDING-BOTTOM: 0.25em;
	VERTICAL-ALIGN: top;
	PADDING-TOP: 0.25em;
	BORDER: #666666 1px solid;
	TEXT-ALIGN: left;
}

.grid {
}

.grid th {
	padding-left:0.25em;
	padding-right:0.25em;
	overflow:hidden; 
	border-right:1px solid #999999;
}

.grid td {
	padding-left:0.25em;
	padding-right:0.25em;
	overflow:hidden; 
	border-right:1px solid #999999;
}

.grid tr.even {
	background:#EEFFFF; 
}

.grid tr.odd {
	background:#FFFFFF; 
}

.attributes  {
	margin: 1.0em;  
	border-collapse:collapse;
}

.attributes .name {
	font-weight: bold;
}

.attributes thead th {
	BORDER: #666666 1px solid;
	PADDING: 0.25em;  
}
.attributes td {
	PADDING-RIGHT: 0.5em;
	PADDING-LEFT: 0.5em;
	PADDING-BOTTOM: 0.25em;
	VERTICAL-ALIGN: top;
	PADDING-TOP: 0.25em;
	BORDER: #666666 1px solid;
	TEXT-ALIGN: left;
}

.filter {
	padding: 4px;
	border-bottom: 1px solid #999999;
	background:#f2f2f2; 
	width: 100%
}

.filter td{
	border: none;
}

.foot {
	padding: 4px;
	border-top: 1px solid #999999;
	background:#f2f2f2; 
}

TR.alert {
	BACKGROUND: #cc0000; COLOR: #ffffff
}
.showhelp {
	MARGIN-LEFT: 10px
}
.showhelp:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.showhelp img {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}

.radiobtn {
	DISPLAY: inline
}
.formbtn {
	MARGIN: 1em 20px
}
.checkbtn {
	DISPLAY: inline
}
.portletHeader{
	background-image: url(../images/bkgd_th.gif); 
	font-weight: bold; 
	background: #CCCCCC;
	padding: 2px;
}
.dropDownCls{
text-decoration: none;
float:right;
display:inline;
z-index: 500;
line-height: 0.2em;
padding: 0;
width: auto;
}
.dropDownCls ul{
list-style: none;
}
.dropDownCls ul li{
BACKGROUND: #90b4d7 no-repeat left top; 
COLOR: #ffffff; 
TEXT-DECORATION: none;
float: none;
position: relative;
list-style: none;
}
.dropDownCls a:hover{
	BACKGROUND: red;
}
.dropDownCls ul li a{
text-decoration: none;
}

.showDropDown{
	text-decoration: none; float: right; padding-right:0.1em; vertical-align: top;
}
.showDropDown img{
	border: 0;
	vertical-align: top;
	overflow: auto;	
}
.drpDwn img{
	display: none;
}

.drpDwn {
 BACKGROUND: #90b4d7;
}

.drpDwn {
 border: #999999 1px solid;
 z-index: 500;
 margin-right: 10px;
 overflow: visible;
 }
.drpDwn ul {
 padding: 0px;
 margin: 0px;
 list-style: none;
}
.drpDwn ul li{
float: none;
}

.drpDwn li a{
 PADDING-RIGHT: 8px; DISPLAY: block; PADDING-LEFT: 8px; 
 BACKGROUND:#90b4d7 no-repeat left top; PADDING-BOTTOM: 0.5em; MARGIN: 0px; COLOR: #314552; PADDING-TOP: 0.5em; TEXT-DECORATION: none; white-space:nowrap;
}
.drpDwn li a:hover{
 COLOR: #FFFFFF;
}
.showDrpDwn a img{
 border: 0;
 display: inline;
}
#tabs_showDrpDwn img{
display: inline;
border: 0;
}
.timeline-band-label{
position:absolute;
COLOR: #4D4D4D;
FONT-SIZE: 1.2em;
text-decoration: bold;
z-index:1500;
list-style:none;
}
.timeline-band-label li{
display: inline;
}
.actionOptions li a{
padding: 2px;
}
.timelineBoundLables{
    background:#DEDFDE;
    position:relative;	
}

.timelineBoundLables table{
	margin-top:15px;
	width: 100%;
}
.timeline-tickmark{
	position: absolute;
	height: 0.8em;
	width: 0.3em;
	cursor: pointer;
}

.treetablecontrol a{
	text-decoration:none;
}

.fullms-table{
	border:1px solid #B3C3D1;
}
.fullms-table-header{
	background:#B3C3D1 none repeat scroll 0 0;
}
.fullms-footer{
	padding:4px;
	background:#B3C3D1 none repeat scroll 0 0;
	font-style:italic;
}
.fullms-footer input{
	margin-left:10px;
}
.fullms-table td a{
	text-decoration:none;
}
.fullms-table .order {
	text-align: right;
}
.fullms-table-header th{
	border-left:1px solid #B3C3D1;
	border-right:1px solid #B3C3D1;
	PADDING-RIGHT: 1em;
	PADDING-LEFT: 1em;
	margin-left:1em;
}
.fullms-tr{}
.fullms-tr td{
	border:1px solid #B3C3D1;
	white-space: nowrap;
	PADDING-RIGHT: .25em;
	PADDING-LEFT:.1em;
	margin-left:1em;
}

.fullms-tr-hideall{
	display:none;
}

.fullms-td-nodelink{
	cursor: default;
}
.fullms-td-nodelink span{
	text-decoration:none;
}
.fullms-td-nodelink span img{
	visibility: hidden;
	border:0;
}

.fullms-td-path, .mshidden{
	display:none;
}
.fullms-td-collapse{
	BACKGROUND: url(../images/max_blue.gif) no-repeat left bottom;
}
.fullms-td-expand{
	 BACKGROUND: url(../images/min_blue.gif) no-repeat left bottom;
}

.td_role{
	display:none;
}

.mstd_list{
	background:#EEFFFF none repeat scroll 0 0;
	
}
.mstd_placeholder{
	background-color:#F1F5EC;
}
.dragRow{
	cursor: move;
}
.ondrag{
	border:1px solid #B3C3D1;
	white-space: nowrap;
	PADDING-RIGHT: 1em;
	PADDING-LEFT: 1em;
	margin-left:1em;
}
.doclinDetails{
	background-color:#5282BD;
	padding:10px;
}
.doclinDetails table{
	background-color:#DEDBDE;
	width:70%;
}
.doclinDetails table td{
	background-color:white;
	color:#000000;
	padding:5px;
}

.TOverride{}